<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    
    <h1>Home page</h1>
    <%- include('./partials/nav.ejs')%>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia
      perspiciatis dignissimos obcaecati facere blanditiis nulla, veniam iusto
      quod et nisi ducimus. Ipsam modi pariatur reiciendis quos saepe nisi
      corporis.
    </p>
  </body>
</html>
